.idea/
.metadata/
.settings/
bin/
.gradle/
.mvn/
*.class
*.out
*.exe
*.exe.recipe
Debug/
*.zip
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
*.sln
cmake-build-debug/
*.layout
*.cbp
*.obj
*.iobj
*.pdb
*.ipdb
*.tlog
*.buildstate
*.log
*.mf
.Rhistory
*.csv
*.vdi
